<div class="style">
  <h1>APA – міжнародний стиль оформлення наукових публікацій</h1>

  <p class="subtitle">APA (American Psychological Association) style – Стиль цитування АПА (Американська психологічна асоціація)</p>

  <p>Стиль APA є стилем оформлення цитувань авторів та оформлення бібліографічних
  описів у списку літератури. Цей стиль був розроблений для використання в психології,
  пізніше був прийнятий і іншими дисциплінами. Цитату за стилем APA можна оформити
  двома способами: як внутрішньотекстове цитування у відповідному місці в тексті
  документа і як позатекстовий список джерел цитат або згадувань.</p>
  <p>Більше детальну інформацію можна знайти: <br> <a class="inner-link" href="#">American Psychological Association. (2010). Publication manual of the American
  Psychological Association (6th ed.). Washington D.C.: Author.</a></p>

  <div class="sources">
    <p>Джерела що підтримуються веб-додатком:</p>
    <li>Книга</li>
      <p class="schema">1-7 авторів: Прізвище1, Ініціали1, Прізвище2, Ініціали2, Прізвище3, Ініціали3, Прізвище4, Ініціали4, Прізвище5, Ініціали5, Прізвище6, Ініціали6, & Прізвище7, Ініціали7. (Рік). Назва книги: Підназва (номер видання). Місце видання: Видавництво.</p>
      <p class="exapmle">Hubbard, R. G., Koehn, M. F., Omstein, S. I., Audenrode, M. V., & Royer, J. (2010). The mutual fund industry: Competition and investor welfare. New York, NY: Columbia University Press.</p>
      <p class="schema">8 і більше авторів: Прізвище1, Ініціали1, Прізвище2, Ініціали2, Прізвище3, Ініціали3, Прізвище4, Ініціали4, Прізвище5, Ініціали5, Прізвище6, Ініціали6 … Прізвище останнього автора, Ініціали. (Рік). Назва книги: Підназва (номер видання). Місце видання: Видавництво.</p>
      <p class="exapmle">Zinn, H., Konopacki, M., Buhle, P., Watkins, J. E., Mills, S., Mullins, J. W. … Komisar, R. (2008). A people’s history of American empire: A graphic adaptation. New York, NY: Metropolitan Books.</p>
    <li>Частина книги</li>
      <p class="schema">Прізвище автора глави, Ініціали. (Рік). Назва глави: Підназва. В Ініціали Прізвище редактора або укладача (відповідальність*), Назва книги: Підназва (номер видання). (cторінковий інтервал). Місце видання: Видавництво.</p>
      <p class="exapmle">Grosman, D. (2009). Writing in the dark. In T. Morrison (Ed.), Burn this book (pp. 22-32). New York, NY: HarperCollins Publishers.</p>
    <li>Стаття в журналі</li>
      <p class="schema">Прізвище, Ініціали. (Рік). Назва статті: Підназва. Назва журналу, Номер журналу, Сторінковий інтервал.</p>
      <p class="exapmle">Benjamin, A. C. (1960). The ethics of scholarship: A discussion of problems that arise in its application. Journal of Higher Education, 31(9), 471-480.</p>
  </div>

</div>
