<div class="style">
  <h1>Chicago – міжнародний стиль оформлення наукових публікацій</h1>

  <p class="subtitle">Chicago style: Author-Date (The Chicago Manual of Style)</p>

  <p>Сфера застосування – фізичні, природничі та суспільні науки</p>

  <p>Чиказькe керівництво по стилю (або Чиказький стилістичний довідник, або іноді просто «Чикаго») - керівництво по стилю для американської англійської мови, яке видається з 1906 року видавництвом University of Chicago Press. Сімнадцять видань наказують можливі стилі публікації і цитування, широко використовувані у видавничій справі. Це «одне з найбільш широко використовуваних і шанованих посібників по стилю в США». Керівництво спеціально присвячено американській англійській мові і зачіпає аспекти редакційної практики, включаючи граматику і застосування, а також підготовку і верстку документів. Довідник доступний в друкованому вигляді книги, в твердій палітурці, і по підписці в вигляді веб-сайту The Chicago Manual of Style Online. Онлайн-версія в першу чергу призначена для вчителів, студентів та різних бібліотек.</p>
  <p>Більше детальну інформацію можна знайти: <br> <a class="inner-link" href="https://press.uchicago.edu/index.html">University of Chicago Press</a></p>

  <div class="sources">
    <p>Джерела що підтримуються веб-додатком:</p>
    <li>Книга</li>
      <p class="schema">Прізвище 1, Ім’я1, Ім’я2 Прізвище2, Ім’я3 Прізвище3, та Ім’я4 Прізвище4. Рік. Назва книги: Підназва. Місце видання: Видавництво.</p>
      <p class="exapmle">Ward, Geoffrey, and Ken Burns. 2007. The War: An Intimate History, 1941–1945. New York: Knopf.</p>
    <li>Частина книги</li>
      <p class="schema">Прізвище автора частини книги, Ім’я. Рік. Назва частини книги. В Назва книги, відомості про редактора, Сторінковий інтервал частини книги. Місце видання: Видавництво.</p>
      <p class="exapmle">Kelly, John. 2010. Seeing Red. In Anthropology and Global Counterinsurgency, edited by John Kelly, Beatrice Jauregui, Sean Mitchell, and Jeremy Walton, 67-83. Chicago: University of Chicago Press.</p>
    <li>Стаття в журналі</li>
      <p class="schema">Прізвище, Ім`я. Рік. “Назва статті: Підназва.” Назва журналу Номер журналу: Сторінковий інтервал всієї статті.</p>
      <p class="exapmle">Weinstein, Joshua. 2009. “The Market in Plato’s Republic.” Classical Philology 104:439-458.</p>
  </div>

</div>
