<div class="style">
  <h1>ДСТУ 8302:2015 – стандарт України</h1>

  <p>В Україні 01 липня 2016 року  набув чинності ДСТУ 8302:2015 «Інформація та документація. Бібліографічне посилання. Загальні вимоги та правила складання», який установлює види бібпосилань, правила та особливості їхнього складання і розміщування у документах.</p>

  <p>Стандарт розроблено фахівцями Книжкової палати України імені Івана Федорова і його дія поширюється на бібліографічні посилання в опублікованих і неопублікованих документах незалежно від носія інформації. Зазначено, що «Стандарт призначено авторам творів, видавцям, фахівцям редакцій засобів масової інформації, інформаційних центрів тощо».</p>

  <p>ДСТУ 8302:2015 містить інформацію про: види бібліографічих посилань та правила їхнього складання; особливості складання комплексного бібліографічного посилання; особливості складання бібліографічного посилання на електронний ресурс; особливості складання бібліографічного посилання на архівний документ.</p>
  <p>Більше детальну інформацію можна знайти: <br> <a class="inner-link" href="http://lib.pnu.edu.ua/files/dstu-8302-2015.pdf">ДСТУ 8302:2015</a></p>

  <div class="sources">
    <p>Джерела що підтримуються веб-додатком:</p>
    <li>Книга</li>
      <p class="exapmle">Аніловська Г. Я., Марушко Н. С., Стоколоса Т. М. Інформаційні системи і технології у фінансах : навч. посіб. Львів : Магнолія 2006, 2015. 312 с.</p>
      <p class="exapmle">Клименко М. І., Панасенко Є. В., Стреляєв Ю. М., Ткаченко І. Г. Варіаційне числення та методи оптимізації : навч. посіб. Запоріжжя : ЗНУ, 2015. 84 с.</p>

    <li>Частина книги</li>
      <p class="exapmle">Коломоєць Т. О. Адміністративна деліктологія та адміністративна деліктність. Адміністративне право України : підручник / за заг. ред. Т. О. Коломоєць. Київ, 2009. С. 195–197.</p>
    <li>Стаття в журналі</li>
      <p class="exapmle">Коваль Л. Плюси і мінуси дистанційної роботи. Урядовий курєр. 2017. 1 листоп. (№ 205). С. 5.</p>
  </div>

</div>
