<div class="style">
  <h1>Harvard – стиль оформлення наукових публікацій</h1>

  <p class="subtitle">Гарвардський стиль (Harvard Referencing Style)</p>

  <p>Сфера застосування – гуманітарні науки та суспільні науки</p>

  <p>Гарвардський стиль - це система, за допомогою якої студенти, письменники та дослідники можуть включати цитати, висновки та ідеї інших людей у ​​свої роботи. Це робиться для того, щоб підтримати та підтвердити свої висновки без порушення законів про інтелектуальну власність. Популярний формат Гарварду, як правило, використовується в завданнях та публікаціях як для гуманітарних, так і для природничих, соціальних та поведінкових наук.</p>

  <p>Це система посилань у дужках, яка складається з двох основних компонентів: Текстові посилання, включаючи прізвище автора та рік публікації, повинні бути вказані в дужках там, де інше джерело сприяло вашій роботі; Список посилань, у якому викладені всі джерела, безпосередньо цитовані у вашій роботі</p>

  <p>Хоча текстові посилання використовуються в Гарвардській системі посилань, щоб коротко вказати, де ви безпосередньо цитували або перефразовували джерело, ваш список посилань - це алфавітний список повних посилань, що дозволяє вашому читачеві легко знайти кожне джерело. Кожен запис повинен бути введений до відповідного посилання в дужках в основній частині вашої роботи, щоб читач міг взяти текстове цитування та швидко отримати джерело зі списку посилань.</p>

<!--   <p>Більше детальну інформацію можна знайти: <br> <a class="inner-link" href="#">American Psychological Association. (2010). Publication manual of the American
  Psychological Association (6th ed.). Washington D.C.: Author.</a></p> -->



<!--   <div class="sources">
    <p>Джерела що підтримуються веб-додатком:</p>
    <li>Книга</li>
      <p class="schema">Прізвище1, Ініціали1, Прізвище2, Ініціали2, Прізвище3, Ініціали3, Прізвище4, Ініціали4 та Прізвище5, Ініціали5. Рік. Назва книги. Номер видання*. Місце видання: Видавництво. * крім першого</p>
      <p class="exapmle">Ahmed, T. and Meehan, N. 2012. Advanced reservoir management and engineering. 2nd ed. Amsterdam: Gulf Professional Publishing.</p>
    <li>Частина книги</li>
      <p class="schema">Прізвище автора розділу, Ініціали, Рік публікації розділу. Назва розділу. В Ініціали Прізвище Редактора, ред. Рік публікації книги. Назва книги. Місце видання: Видавництво. Номер розділу або сторінковий інтервал.</p>
      <p class="exapmle">Smith, J., 1975. A source of information. In: W. Jones, ed. 2000. One hundred and one ways to find information about health. Oxford: Oxford University Press. Ch.2.</p>
    <li>Стаття в журналі</li>
      <p class="schema">Прізвище, Ініціали, Рік. Назва статті. Назва журналу, Номер тому (Номер випуску/частини), сторінковий інтервал.</p>
      <p class="exapmle">Perry, C., 2001. What health care assistants know about clean hands. Nursing Times, 97(22), pp.63-64.</p>
  </div> -->

</div>
