<div class="style">
  <h1>MLA – стиль Асоціації сучасної мови</h1>

  <p class="subtitle">Modern Language Association (MLA) Style</p>

  <p>Сфера застосування – гуманітарні науки (мистецтво, література, філософія, релігія тощо)</p>

  <p>Стиль MLA - це система документування джерел у наукових роботах. Понад півстоліття він широко застосовується для викладання в аудиторіях і використовується у всьому світі науковцями, видавцями журналів, академічними та комерційними пресами.</p>

  <p>Зараз твори публікуються в запаморочливому діапазоні форматів. В Інтернеті способи публікації регулярно винаходять, комбінують та модифікують. Стиль MLA був оновлений у 2016 році, щоб відповісти на виклики, з якими стикаються сьогодні дослідники. Він рекомендує один універсальний набір керівних принципів, який автори можуть застосовувати до будь-якого типу джерел. Записи в списку цитованих творів складаються з фактів, загальних для більшості творів - основних елементів MLA. Твори цитуються в тексті з короткими цитатними дужками, які спрямовують читачів до записів у цитованому списку творів.</p>

  <p>Більше детальну інформацію можна знайти: <br> <a class="inner-link" href="https://www.mla.org/MLA-Style">MLA Style</a></p>

  <div class="sources">
    <p>Джерела що підтримуються веб-додатком:</p>
    <li>Книга</li>
      <p class="schema">1-3 автора: Прізвище1, Ім’я1, Ім’я2 Прізвище2, та Ім’я3 Прізвище3. Назва книги: Підназва. Номер видання. Місце видання: Видавництво, Рік. Тип публікації.</p>
      <p class="exapmle">Gordon, Virginia, Wesley Habley, and Thomas Grites. Academic Advising. San Francisco, CA: Jossey-Bass, 2008. Print.</p>
      <p class="schema">4 і більше авторів: Прізвище1, Ім’я1, та ін. Назва книги: Підназва. Номер видання. Місце видання: Видавництво, Рік. Тип публікації.</p>
      <p class="exapmle">Habyarimana, James, et al. Coethnicity. New York: Russell Sage Foundation, 2009. Print.</p>
    <li>Частина книги</li>
      <p class="schema">Прізвище автора частини, Ім’я. "Назва частини: Підназва." Назва книги: Підназва. Номер видання. Відомості про редактора. Місце видання: Видавництво, Рік. Сторінковий інтервал. Тип публікації.</p>
      <p class="exapmle">Grosman, David. "Writing in the Dark." Burn This Book. Ed. Toni Morrison. New York: Harper, 2009. 22-32. Print.</p>
    <li>Стаття в журналі</li>
      <p class="schema">Прізвище, Ім’я. "Назва статті: Підназва." Назва журналу Номер журналу (Рік): Сторінковий інтервал. Тип публікації.</p>
      <p class="exapmle">Benjamin, Cornelius. "The Ethics of Scholarship." Journal of Higher Education 31.9 (1960): 71-80. Print.</p>
  </div>

</div>
