<div class="main-nav">
  <a class="brand" href="">MyBibDescription</a>

  <div class="right-side">
    <a class="" href="/bibliographic_styles">Стилі</a>
    <a class="" href="/">Визначити стиль</a>
    <a class="" href="/change_styles">Перетворити стиль</a>
    <a class="" href="">Увійти</a>
  </div>

</div>
