<h1>Editing Bibliographic Description</h1>

<%= render 'form', bibliographic_description: @bibliographic_description %>

<%= link_to 'Show', @bibliographic_description %> |
<%= link_to 'Back', bibliographic_descriptions_path %>
